## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1 = random.sample(range(101), k=80)
print(sample_list_1)
print(len(sample_list_1))

[20, 3, 4, 22, 24, 97, 85, 81, 74, 35, 21, 36, 50, 68, 40, 98, 27, 34, 30, 17, 54, 90, 33, 69, 39, 60, 93, 80, 32, 26, 53, 10, 95, 100, 86, 99, 89, 12, 79, 28, 16, 49, 15, 71, 44, 41, 51, 25, 2, 72, 59, 19, 57, 1, 65, 11, 8, 82, 88, 63, 67, 96, 42, 46, 61, 58, 78, 47, 55, 6, 45, 37, 13, 84, 91, 94, 83, 73, 0, 62]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set1 = set()
for i in sample_list_1:
    set1.add(i)
print(len(set1))
print(set1)

80
{0, 1, 2, 3, 4, 6, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 65, 67, 68, 69, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
# Your code here
sample_list_2 = []
for i in range(100):
      sample_list_2.append(random.randrange(101))
print(sample_list_2)
print(len(sample_list_2))

[54, 70, 8, 48, 46, 99, 49, 29, 74, 93, 87, 10, 49, 94, 39, 21, 64, 34, 75, 84, 35, 68, 85, 31, 37, 62, 5, 54, 27, 0, 65, 28, 86, 8, 86, 57, 69, 50, 83, 72, 71, 13, 30, 5, 87, 84, 73, 61, 52, 57, 42, 99, 54, 43, 35, 5, 58, 51, 41, 95, 100, 25, 52, 48, 13, 14, 61, 66, 77, 67, 81, 75, 47, 25, 67, 13, 74, 14, 37, 48, 0, 38, 59, 66, 73, 60, 31, 88, 62, 64, 49, 72, 28, 99, 61, 34, 92, 88, 53, 88]
100

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2 = set()
for i in sample_list_2:
    set2.add(i)
print(len(set2))
print(set2)

62
{0, 5, 8, 10, 13, 14, 21, 25, 27, 28, 29, 30, 31, 34, 35, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 81, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
# Your code here
set3 = set1 - set2
print(len(set3))
print(set3)

33
{1, 2, 3, 4, 6, 11, 12, 15, 16, 17, 19, 20, 22, 24, 26, 32, 33, 36, 40, 44, 45, 55, 63, 78, 79, 80, 82, 89, 90, 91, 96, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
# Your code here
set4 = set2 - set1
print(len(set4))
print(set4)

15
{64, 66, 5, 38, 70, 43, 75, 77, 14, 48, 52, 87, 92, 29, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
# Your code here
set5 = set1.intersection(set2)
print(len(set5))
print(set5)

47
{0, 8, 10, 13, 21, 25, 27, 28, 30, 34, 35, 37, 39, 41, 42, 46, 47, 49, 50, 51, 53, 54, 57, 58, 59, 60, 61, 62, 65, 67, 68, 69, 71, 72, 73, 74, 81, 83, 84, 85, 86, 88, 93, 94, 95, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [28]:
# Your code here
print('set1:', len(set1))
print('set2:', len(set2))
print('set3:', len(set3))
print('set4:', len(set4))
print('set5:', len(set5))
print('len(set1) >= len(set2) because set2 could has duplicates')
print('We can not compare len(set3) and len(det4) with len(set2) because it depends on len(set2 and could be from 1 to 80)')
print('len(set3) and len(set4) always could be less than len(set1) because it depends on len(set2) and it can not equal 0')
print('len(set5) <= len(set2) and len(set5) <= len(set1). Are equal only then len(set1) == len(set2)')

set1: 80
set2: 62
set3: 33
set4: 15
set5: 47
len(set1) >= len(set2) because set2 could has duplicates
We can not compare len(set3) and len(det4) with len(set2) because it depends on len(set2 and could be from 1 to 80)
len(set3) and len(set4) always could be less than len(set1) because it depends on len(set2) and it can not equal 0
len(set5) <= len(set2) and len(set5) <= len(set1). Are equal only then len(set1) == len(set2)

#### Create an empty set called `set6`.

In [29]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
# Your code here
set6.update(set3)
set6.update(set5)
print(len(set6))

80

#### Check if `set1` and `set6` are equal.

In [31]:
# Your code here
if set1 == set6:
    print('Yes')
else:
    print('No')

Yes

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
# Your code here
if set2.issubset(set1):
    print('Yes')
else:
    print('No')

No

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [38]:
# Your code here
set_union = set3.union(set4)
set_union = set_union.union(set5)
print(set_union)
print(len(set_union))
set_union1 = set1.union(set2)
print(set_union1)
print(len(set_union1))

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
95
{0, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
94

#### Using the `pop` method, remove the first element from `set1`.

In [39]:
# Your code here
print(set1.pop())
print(set1)

2
{3, 4, 6, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 65, 67, 68, 69, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [43]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set8 = set()
for i in list_to_remove:
    set8.add(i)
print(set8)
for j in set1:
    set8.discard(j)
print(set8)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{1, 9, 29, 31}